.site-logo {
    display: block;
    /* margin: 0; */
    width: 5em;
    height: 5em;
    padding-top: 0.5em;
  }
  
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 6em;
  }
  
  .site-header ul {
    display: flex;
  }
  
  .site-header .socials {
    display: flex;
  }
  .site-header .socials li {
    color: #fff;
  }
  
  .site-header .socials li,
  .site-header .socials a {
    display: block;
    padding: 0 1em;
  }
  
  .site-header .socials a {
    color: #fff;
    text-decoration: none;
  }

  .site-hero-banner .container {
    padding-bottom: 13em;
    margin-top: 8em;
    text-align: center;
  }

  .site-hero-banner .container h2{
    font-size: 90px;
    color: #ffffff;
    font-family: 'Cormorant Infant';
    margin-top: 2em;
  }

  .site-hero-banner .container p {
    margin-top: 4em;
    font-size: 16px;
    color: #e7f3ff;
  }